<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAquCOEm2s7fDyLE4kiv2Y7QiKc2s1kVjM</string>
	<key>GCM_SENDER_ID</key>
	<string>1044059727686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.fireb</string>
	<key>PROJECT_ID</key>
	<string>fireb-8956kn</string>
	<key>STORAGE_BUCKET</key>
	<string>fireb-8956kn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044059727686:ios:3be170225ab74f60c32747</string>
</dict>
</plist>